@layout('template/app')

@section('vars')
    @set( 'title', 'Home Page' )
@endsection

@section('content')
  <section class="main-content">

    <h1 class="md-title">Home Page</h1>

    <div id="form-reviews-vue" class="w-100">
      <form-reviews></form-reviews>
    </div>
  </section>
@endsection
